@fsdp0:registry=http://localhost:18081/repository/npm-hosted/
registry=http://localhost:18081/repository/npm-local/


//localhost:18081/repository/npm-local/:_auth=YWRtaW46YWRtaW5wYXNzd29yZA==
//localhost:18081/repository/npm-hosted/:_auth=YWRtaW46YWRtaW5wYXNzd29yZA==